RewriteEngine Off

#RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://dogcitylife.cz [R,L]

ErrorDocument 404 https://dogcitylife.cz/nenalezeno

RewriteRule ^en/$ index.php?lang=en 
RewriteRule ^en$ index.php?lang=en 

RewriteRule ^zarizeni/(.*)/$ zarizeni.php?id=$1 [QSA,L]
RewriteRule ^zarizeni/(.*)$ zarizeni.php?id=$1 [QSA,L]

RewriteRule ^en/zarizeni/(.*)/$ zarizeni.php?id=$1&lang=en [QSA]
RewriteRule ^en/zarizeni/(.*)$ zarizeni.php?id=$1&lang=en [QSA]

RewriteRule ^en/(.*)/$ $1.php?lang=en [QSA,L]
RewriteRule ^en/(.*)$ $1.php?lang=en [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]